/* Karma Clone made by Tyler Silva */

/********************
	Globals
********************/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: #DDDDDD;
}

h1,
h2,
h3,
h4,
h5,
h6,
p, 
a {
	font-family: 'Roboto', sans-serif; 
	letter-spacing: 0.03em;
}

.content {
	width: 970px;
	margin: 0 auto;
	padding: 0 15px;
}

/********************
	NAVIGATION
********************/

.top-navigation {
	margin: 0;
	background-color: #ffffff;
}

.top-navigation > .content {
	height: 70px;
}

.logo {
	height: 100%;
}

.nav-menu {
	float: right;
}

.nav-menu > li {
	display: inline-block;
	margin-top: 10px;
	margin-left: 15px;
}

.nav-menu > li > a {
	text-decoration: none;
	font-size: 16px; 
	transition: all 0.5s ease;
	color: #838994;
	font-weight: 300;
}

.nav-menu > li > .active {
	color: #4c5058;
	font-weight: 600;
}

.nav-menu > li > a:hover {
	cursor: pointer;
	color: #4c5058;
	font-weight: 400;
}

/********************
	Introduction
********************/

.introduction {
	background-image: url(../img/heroimage.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
	overflow: auto;
}

.introduction h1 {
	margin-top: 250px;
}

.introduction h1,
.introduction h3 {
	text-align: center;
	color: #EEEEEE;
	font-weight: 300;
}

.introduction .buttons {
  	text-align: center;
}

.buttons button {
	transition: all 0.5s ease;
	width: 10rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: #EEEEEE;
	font-size: 1.125rem;
}

.buttons button:hover {
	background-color: #C74B23;
}

